#main-title {
  padding-top: 20px;
  text-align: center;
}

.panel-style{
  height:350px;
  width: 60%;
  margin: 3% auto;
}

.panel-style h3{
  text-align: center;
}

#title div p {
  margin-top: 50px;
  text-align: center;

}

button {
  margin-top: 10px;
}

#title button  {
  margin-top: 150px;
}

#question6 button {
  margin-top: 117px;
}

.panel-body{
  height: 235px;
}

#result h4 {
  margin-top: 5px;
  text-align: center;
  letter-spacing: 1px;
}

#result .panel-body .track-name{
  margin-top: 60px;
  font-weight: bold;
  font-size: 3rem;
}




#question1 {
  display: none;
}

#question2 {
  display: none;
}

#question3 {
  display: none;
}

#question4 {
  display: none;
}

#question5 {
  display: none;
}

#question6 {
  display: none;
}
#result {
  display: none;
}
